<div class="app bg-color-1">
  <div class="content w-10 mt-5 ">
  <h1>Competiciones</h1>
  <div class="nav-horizontal bg-color-white">
    <nav>
      <ul>
        <li><a href="#">LoL</a></li>
        <li><a href="#">FIFA 23</a></li>
        <li><a href="#">CS:2</a></li>
        <li><a href="#">Valorant</a></li>
        <li><a href="#">Dota 2</a></li>
        <li><a href="#">DDNet</a></li>
      </ul>
    </nav>
    <div class="nav-data">
      <p>tambien ingresó como texto de relleno en documentos</p>
    </div>
  </div>
    <div class="cards p-3">
      <div class="card w-2">
        <div class="card-top">
          <div class="card-date m-2">
            <p>01-01-2023</p>
          </div>
          <h2 class="border-l-5">
            <a href="#">Liga CS:Go vo3</a>
          </h2>
        </div>
        <div class="card-bottom">
          <div class="card-img">
            <img src="assets/images/post/img-1.jpg" alt="Publicación" />
          </div>
          <div class="card-detail">
            <div class="card-text">
              <p>
                Lorem Ipsum es simplemente el texto de relleno de las imprentas
                y archivos de texto. Lorem Ipsum ha sido el texto de relleno
                estándar de las industrias desde el año 1500,
              </p>
            </div>
            <div class="card-btn">
              <a routerLink="/torneo-info" class="btn btn-primary">Ver más</a>
            </div>
          </div>
        </div>
      </div>
      <div class="card w-2">
        <div class="card-top">
          <div class="card-date m-2">
            <p>01-01-2023</p>
          </div>
          <h2 class="border-l-5">
            <a href="#">fifa23 cup 16</a>
          </h2>
        </div>
        <div class="card-bottom">
          <div class="card-img">
            <img src="assets/images/post/img-2.jpg" alt="Publicación" />
          </div>
          <div class="card-detail">
            <div class="card-text">
              <p>
                Lorem Ipsum es simplemente el texto de relleno de las imprentas
                y archivos de texto. Lorem Ipsum ha sido el texto de relleno
                estándar de las industrias desde el año 1500,
              </p>
            </div>
            <div class="card-btn">
              <a href="#" class="btn btn-primary">Ver más</a>
            </div>
          </div>
        </div>
      </div>
      <div class="card w-2">
        <div class="card-top">
          <div class="card-date m-2">
            <p>01-01-2023</p>
          </div>
          <h2 class="border-l-5">
            <a href="#">Liga CS:Go vo3</a>
          </h2>
        </div>
        <div class="card-bottom">
          <div class="card-img">
            <img src="assets/images/post/img-1.jpg" alt="Publicación" />
          </div>
          <div class="card-detail">
            <div class="card-text">
              <p>
                Lorem Ipsum es simplemente el texto de relleno de las imprentas
                y archivos de texto. Lorem Ipsum ha sido el texto de relleno
                estándar de las industrias desde el año 1500,
              </p>
            </div>
            <div class="card-btn">
              <a routerLink="/torneo-info" class="btn btn-primary">Ver más</a>
            </div>
          </div>
        </div>
      </div>
      <div class="card w-2">
        <div class="card-top">
          <div class="card-date m-2">
            <p>01-01-2023</p>
          </div>
          <h2 class="border-l-5">
            <a href="#">fifa23 cup 16</a>
          </h2>
        </div>
        <div class="card-bottom">
          <div class="card-img">
            <img src="assets/images/post/img-2.jpg" alt="Publicación" />
          </div>
          <div class="card-detail">
            <div class="card-text">
              <p>
                Lorem Ipsum es simplemente el texto de relleno de las imprentas
                y archivos de texto. Lorem Ipsum ha sido el texto de relleno
                estándar de las industrias desde el año 1500,
              </p>
            </div>
            <div class="card-btn">
              <a href="#" class="btn btn-primary">Ver más</a>
            </div>
          </div>
        </div>
      </div>
      <div class="card w-2">
        <div class="card-top">
          <div class="card-date m-2">
            <p>01-01-2023</p>
          </div>
          <h2 class="border-l-5">
            <a href="#">fifa23 cup 16</a>
          </h2>
        </div>
        <div class="card-bottom">
          <div class="card-img">
            <img src="assets/images/post/img-2.jpg" alt="Publicación" />
          </div>
          <div class="card-detail">
            <div class="card-text">
              <p>
                Lorem Ipsum es simplemente el texto de relleno de las imprentas
                y archivos de texto. Lorem Ipsum ha sido el texto de relleno
                estándar de las industrias desde el año 1500,
              </p>
            </div>
            <div class="card-btn">
              <a href="#" class="btn btn-primary">Ver más</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
