:root {
  /* Background Color */
  --bg-primary: #000;
  --bg-secondary: #171717;
  --bg-line: rgba(193, 193, 193, 0.157);
  --bg-line-2: #aeaeae;
  --bg-tertiary: #e7e7e7;

  /* Font Color */
  --text-primary: #f0f0f0;
  --text-secondary: #2a2a2a;
  --text-tertiary: #000;
  --f-primary: #c3c3c3;
  --f-secondary: #ffd400 ;
  --f-tertiary: #1855ff;
}

footer {
  display:flex;
  align-items: center;
  justify-content: center;
  margin: 5rem 0 0 0;
  width: 100%;
  left: 0;
  bottom: 0;
  min-height: 15rem;

}

footer p{
  color: var(--text-primary);
  font-size: .8rem;
}

footer a{
  color: var(--f-secondary);
}
footer a:hover{
  color: var(--f-tertiary);
}
