.social {
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: 100%;
}

.nav-social {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
}

.nav-social ul {
  display: flex;
  flex-flow: row;
  justify-content: end;
  text-align: end;
}

.nav-social ul li {
  margin: 0 1rem;
}

.nav-social ul li a {
  padding: 0 0.6rem;
  font-size: 0.8rem;
  color: var(--f-secondary);
}
