
.cards {
  display: flex;
  flex-flow: row wrap;
}

.card {
  display: flex;
  flex-flow: column;
  padding: 0.5rem;

}

.card .card-top {
  display: flex;
  flex-flow: column;
  width: 100%;
  min-height: 3rem;
  padding: 1rem 0;
}
.card-top::after {
  display: block;
  content: "";
  width: 80%;
  border-bottom: 1px solid var(--bg-line);
  margin: 0 auto;
  padding: 1rem;
}

/* .card-top h2 {
  color: var(--text-primary);
  font-size: 2.5rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
} */


.card-top h2 a {
  color: var(--f-primary);
}
.card-top h2 a:hover {
  color: var(--text-primary);
}

.card-top h3 {
  color: var(--text-primary);
  font-size: 1rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}



.card-top a {
  color: var(--f-primary);
}
.card-top a:hover {
  color: var(--text-primary);
}

.card-bottom {
  margin: 0 0 1rem 0;
}
.card-img {
  width: 100%; /* Ancho fijo del contenedor */
  height: 350px; /* Alto fijo del contenedor */
  overflow: hidden; /* Oculta cualquier contenido que exceda los límites del contenedor */
  transition: transform 0.5s ease;
  -webkit-transition: transform 0.5s ease;
  -moz-transition: transform 0.5s ease;
  -ms-transition: transform 0.5s ease;
  -o-transition: transform 0.5s ease;
}

.card-img-full-h {
  width: 100%; /* Ancho fijo del contenedor */
  height: 800px; /* Alto fijo del contenedor */
  overflow: hidden; /* Oculta cualquier contenido que exceda los límites del contenedor */
}

.card-img-full-h img {
  width: 100%; /* Ancho de la imagen al 100% del contenedor */
  height: 100%; /* Altura de la imagen al 100% del contenedor */
  object-fit: cover; /* Ajusta la imagen para cubrir todo el contenedor */
  object-position: center; /* Centra la imagen dentro del contenedor */

}




.card-img:hover{
  transform: scale(1.01);
  -webkit-transform: scale(1.01);
  -moz-transform: scale(1.01);
  -ms-transform: scale(1.01);
  -o-transform: scale(1.01);
}

.card-img:hover::after {
  opacity: 1;
}
.card-img img {
  width: 100%; /* Ancho de la imagen al 100% del contenedor */
  height: 100%; /* Altura de la imagen al 100% del contenedor */
  object-fit: cover; /* Ajusta la imagen para cubrir todo el contenedor */
  object-position: center; /* Centra la imagen dentro del contenedor */
  transition: opacity 0.3s ease;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -ms-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.card-date {
  font-size: 0.9rem;
  color: var(--text-tertiary);
  background-color: var(--bg-tertiary);
  padding: 0 1rem;
  max-width: 100px;
  text-align: center;
  font-weight: bold;
}

.card-date p{
  color: var(--text-tertiary);
}

.card-detail {
  display: flex;
  flex-flow: column;
  color: var(--text-primary);
  text-align: justify;
  width: 100%;
}
.card-detail .card-text {
  padding: 1rem;
}
.card-text p {
  overflow: hidden;
  white-space: wrap;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.card-detail .card-btn {
  display: flex;
  flex-flow: row-reverse;
}



.nav-horizontal {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  width: 100%;
}

.nav-horizontal nav ul {
  display: flex;
  flex-flow: row;
}

.nav-horizontal li {
  padding: 1.7rem;
}

.nav-horizontal a {
  color: var(--text-secondary);
  font-family: var(--font-1);
  font-weight: 800;
  text-transform: uppercase;
  font-size: 1.4rem;
  border-radius: 0.5em;
  background-color: #f2f2f2;
  padding: 0.2rem 1rem;
  border: 1px solid #f2f2f2;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  box-shadow: 6px 6px 12px #e0e0e0, -6px -6px 12px #fff;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -o-border-radius: 0.5em;
}
.nav-horizontal a:hover {
  box-shadow: -6px -6px 12px #e0e0e0, 6px 6px 12px #fff;
  color: var(--f-secondary);
}

.nav-data {
  display: flex;
  align-items: center;
  padding: 0 1rem;
}
.nav-data p {
  font-size: 0.7rem;
  color: var(--text-secondary);
  font-family: var(--font-2);
  font-weight: 600;
}
