<app-slider></app-slider>
<div class="app bg-color-1 pb-5">
  <div class="nav-horizontal bg-color-white">
    <nav>
      <ul>
        <li><a href="#">LoL</a></li>
        <li><a href="#">FIFA 23</a></li>
        <li><a href="#">CS:2</a></li>
        <li><a href="#">Valorant</a></li>
      </ul>
    </nav>
    <div class="nav-data">
      <p>tambien ingresó como texto de relleno en documentos</p>
    </div>
  </div>
  <div class="content">
    <div class="cards">
      <div class="card w-10">
        <div class="card-top m-5">
          <h4>Que comience la batalla</h4>
        </div>
        <div class="card-bottom flex-center m-2">
          <a class="btn btn-secondary" href="#">Participa en Torneo LEYENDA!</a>
        </div>
      </div>
    </div>
    <h1>Competiciones</h1>
    <div class="cards p-3">
      <div class="card w-5">
        <div class="card-top">
          <div class="card-date m-2">
            <p>01-01-2023</p>
          </div>
          <h3 class="border-l-5 pl-2">
            <a href="#">Liga CS:Go vo3</a>
          </h3>
        </div>
        <div class="card-bottom">
          <div class="card-img">
            <img src="assets/images/post/img-1.jpg" alt="Publicación" />
          </div>
          <div class="card-detail">
            <div class="card-text">
              <p>
                Lorem Ipsum es simplemente el texto de relleno de las imprentas
                y archivos de texto. Lorem Ipsum ha sido el texto de relleno
                estándar de las industrias desde el año 1500,
              </p>
            </div>
            <div class="card-btn">
              <a href="#" class="btn btn-primary">Ver más</a>
            </div>
          </div>
        </div>
      </div>
      <div class="card w-5">
        <div class="card-top">
          <div class="card-date m-2">
            <p>01-01-2023</p>
          </div>
          <h3 class="border-l-5 pl-2">
            <a href="#">fifa23 cup 16</a>
          </h3>
        </div>
        <div class="card-bottom">
          <div class="card-img">
            <img src="assets/images/post/img-2.jpg" alt="Publicación" />
          </div>
          <div class="card-detail">
            <div class="card-text">
              <p>
                Lorem Ipsum es simplemente el texto de relleno de las imprentas
                y archivos de texto. Lorem Ipsum ha sido el texto de relleno
                estándar de las industrias desde el año 1500,
              </p>
            </div>
            <div class="card-btn">
              <a href="#" class="btn btn-primary">Ver más</a>
            </div>
          </div>
        </div>
      </div>
      <h1>Juegos</h1>
      <div class="cards w-10 flex-center-between bg-color-2 p-1">
        <div class="card w-3 bg-color-3 br-5">
          <div class="card-top  ">
            <h3 class="border-b-1 t-a-center">
              <a href="#">Counter-Strike</a>
            </h3>
          </div>
          <div class="card-bottom">
            <div class="card-img">
              <img src="assets/images/post/img-4.jpg" alt="Publicación" />
            </div>
          </div>
        </div>
        <div class="card w-3 bg-color-3 br-5">
          <div class="card-top">
            <h3 class="border-b-1 t-a-center">
              <a href="#">Fornite</a>
            </h3>
          </div>
          <div class="card-bottom">
            <div class="card-img">
              <img src="assets/images/post/img-5.jpg" alt="Publicación" />
            </div>
          </div>
        </div>
        <div class="card w-3 bg-color-3 br-5">
          <div class="card-top">
            <h2 class="border-b-1 t-a-center">
              <a href="#">League of Legends</a>
            </h2>
          </div>
          <div class="card-bottom">
            <div class="card-img">
              <img src="assets/images/post/img-3.jpg" alt="Publicación" />
            </div>
          </div>
        </div>
      </div>
      <div class="card w-10 bg-color-2">
        <div class="matches">
          <table>
            <caption>
              Agosto 23
            </caption>
            <thead>
              <tr>
                <!-- th -->
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><a href="#">T1</a></td>
                <td>vs</td>
                <td><a href="#">Gen G</a></td>
                <td>3 - 0</td>
                <td><a href>Resumen</a></td>
              </tr>
              <tr>
                <td><a href="#">JDG</a></td>
                <td>vs</td>
                <td><a href="#">MAD</a></td>
                <td>3 - 0</td>
                <td><a href>Resumen</a></td>
              </tr>
              <tr>
                <td><a href="#">Fnatic</a></td>
                <td>vs</td>
                <td><a href="#">G2</a></td>
                <td>3 - 0</td>
                <td><a href>Resumen</a></td>
              </tr>
              <tr>
                <td><a href="#">T1</a></td>
                <td>vs</td>
                <td><a href="#">Gen G</a></td>
                <td>3 - 0</td>
                <td><a href>Resumen</a></td>
              </tr>
              <tr>
                <td><a href="#">JDG</a></td>
                <td>vs</td>
                <td><a href="#">MAD</a></td>
                <td>3 - 0</td>
                <td><a href>Resumen</a></td>
              </tr>
              <tr>
                <td><a href="#">Fnatic</a></td>
                <td>vs</td>
                <td><a href="#">G2</a></td>
                <td>3 - 0</td>
                <td><a href>Resumen</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="sidebar">
    <div class="widgets p-1">
      <div class="widget">
        <div class="widget-top">
          <h2 class="border-l-1">Musica para jugar</h2>
        </div>
        <div class="widget-bottom p-1">
          <iframe
            style="border-radius: 12px"
            src="https://open.spotify.com/embed/playlist/7C8fab45Kvs0FHIrHqn8GX?utm_source=generator&theme=0"
            width="100%"
            height="352"
            frameborder="0"
            allowfullscreen
            allow="autoplay; clipboard-write;
                      encrypted-media; fullscreen; picture-in-picture"
            loading="lazy"
          ></iframe>
        </div>
      </div>
      <div class="widget">
        <div class="widget-top">
          <h2 class="border-l-1">Proximo encuentro</h2>
        </div>
        <div class="widget-bottom p-1">
          <div class="matches">
            <table>
              <caption>
                Agosto 23
              </caption>
              <thead>
                <tr>
                  <!-- th -->
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><a href="#">T1</a></td>
                  <td>vs</td>
                  <td><a href="#">Gen G</a></td>
                  <td>3 - 0</td>
                  <td><a href>Resumen</a></td>
                </tr>
                <tr>
                  <td><a href="#">JDG</a></td>
                  <td>vs</td>
                  <td><a href="#">MAD</a></td>
                  <td>3 - 0</td>
                  <td><a href>Resumen</a></td>
                </tr>
                <tr>
                  <td><a href="#">Fnatic</a></td>
                  <td>vs</td>
                  <td><a href="#">G2</a></td>
                  <td>3 - 0</td>
                  <td><a href>Resumen</a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="widget">
        <div class="widget-top">
          <h2 class="border-l-1">Ultimas publiciones</h2>
        </div>
        <div class="widget-bottom p-1">
          <div class="cards">
            <div class="card w-10">
              <div class="card-top">
                <div class="card-date">
                  <p>01-01-2023</p>
                </div>
                <h3>
                  <a href="#">Liga CS:Go vo3</a>
                </h3>
              </div>
              <div class="card-bottom">
                <div class="card-img">
                  <img src="assets/images/post/img-1.jpg" alt="Publicación" />
                </div>
                <div class="card-detail">
                  <div class="card-text">
                    <p>
                      Lorem Ipsum es simplemente el texto de relleno de las
                      imprentas y archivos de texto. Lorem Ipsum ha sido el
                      texto de relleno estándar de las industrias
                    </p>
                  </div>
                  <div class="card-btn">
                    <a href="#" class="btn btn-primary">Ver más</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="card w-10">
              <div class="card-top">
                <div class="card-date">
                  <p>01-01-2023</p>
                </div>
                <h3>
                  <a href="#">fifa23 cup 16</a>
                </h3>
              </div>
              <div class="card-bottom">
                <div class="card-img">
                  <img src="assets/images/post/img-2.jpg" alt="Publicación" />
                </div>
                <div class="card-detail">
                  <div class="card-text">
                    <p>
                      Lorem Ipsum es simplemente el texto de relleno de las
                      imprentas y archivos de texto. Lorem
                    </p>
                  </div>
                  <div class="card-btn">
                    <a href="#" class="btn btn-primary">Ver más</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
